:root {
    --white-key-height: 100%;
    --black-key-height: calc(var(--white-key-height) * 0.5);
    --white-key-width: 12.5%;
    --black-key-width: calc(var(--white-key-width) * 0.5);
}

.note {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 3px solid grey;
    float: left;
}

.note-empty {
    position: relative;
    z-index: 1;
    border: 3px solid rgb(0, 0, 0, 0);
    width: var(--black-key-width);
    height: var(--black-key-height);
}

.stave-elements {
    width: 20%;
}

#keyboard {
    position: relative;
}

#white_keys {
    position: absolute;
}

.note-white {
    background-color: white;
    width: var(--white-key-width);
    height: var(--white-key-height);
}

#black_keys {
    display: flex;
    justify-content: space-between;
    margin-left: calc(var(--white-key-width) * 0.8);
    width: calc(var(--white-key-width) * 6.4);
    transform: translate(0%, -200%);
}

.note-black {
    width: var(--black-key-width);
    height: var(--black-key-height);
    position: relative;
    z-index: 1;
    background-color: black;
    color: white;
}

#start {
    border: none;
    text-align: center;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

p {
    padding: 5px;
}