:root {
    --white-key-height: 200px;
    --black-key-height: calc(var(--white-key-height) * 0.5);
    --white-key-width: 12.5%;
    --black-key-width: calc(var(--white-key-width) * 0.5);
}

body {
    height: 100vh;
    background-image: linear-gradient(#7777ff, #7777ff, #330033);
}

.pad {
    padding: 10px;
}

.center {
    display: flex;
    text-align: center;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.unselectable {
    user-select: none;
}

.row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.note {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 3px solid grey;
    float: left;
}

.note-empty {
    position: relative;
    z-index: 1;
    border: 3px solid rgb(0, 0, 0, 0);
    width: var(--black-key-width);
    height: var(--black-key-height);
}

.stave-elements {
    width: 20%;
}

#stave {
    font-size: 0;
}

#keyboard {
    position: relative;
}

#white_keys {
    position: absolute;
}

.note-white {
    background-color: white;
    width: var(--white-key-width);
    height: var(--white-key-height);
}

#black_keys {
    display: flex;
    justify-content: space-between;
    margin-left: calc(var(--white-key-width) * 0.8);
    width: calc(var(--white-key-width) * 6.4);
    transform: translate(0%, -200%);
}

.note-black {
    width: var(--black-key-width);
    height: var(--black-key-height);
    position: relative;
    z-index: 1;
    background-color: black;
    color: white;
}

.start-button {
    border: none;
    text-align: center;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.audio-button {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}

p {
    padding: 5px;
}